body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
background:#061120;
color:white;

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

overflow-x:hidden;
overflow-y:auto;
}

.game-wrapper{
width:100%;
max-width:500px;
padding:10px;
}

.hud{
display:flex;
justify-content:space-between;
margin-bottom:10px;
}

.stat{
background:#0d233d;
padding:10px;
border-radius:10px;
text-align:center;
flex:1;
margin:4px;
}

#game{
position:relative;
height:65vh;
background:linear-gradient(#021426,#043b6d);
border-radius:15px;
overflow:hidden;
}

#ship{
position:absolute;
bottom:10px;
left:50%;
transform:translateX(-50%);
font-size:40px;
}

.iceberg{
position:absolute;
font-size:30px;
}

.controls{
display:flex;
justify-content:center;
gap:20px;
margin-top:10px;
}

.controls button{
font-size:26px;
width:100px;
height:50px;
border:none;
border-radius:10px;
background:#ffffff;
}

#collision{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
background:#0d233d;
padding:30px;
border-radius:15px;
text-align:center;
}

.hidden{
display:none;
}

@media (max-width:520px){

#game{
height:60vh;
}

.controls button{
width:110px;
height:55px;
font-size:28px;
}

}